@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Inter;
    src: url(/Inter-Regular.ttf);
}
@font-face {
    font-family: IBM Plex Mono;
    src: url(/IBMPlexMono-Regular.ttf);
}
